/* Reset */
@use './variable' as *;

/*------------------------- Header_start--------------------------------- */
.header {
  width: 100%;
  padding: 20px 60px;
  background: #0f0f0f;
  // background: radial-gradient(circle at 20% 50%, #324a68, #0b1c2c 60%);
  position: sticky;
  top: 0;
  z-index: 99;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;

    .logo {
      a {
        text-decoration: none;
        color: #d4d4d4;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: 0.3s ease;

        &:hover {
          color: #ffffff;
        }
      }
    }

    .nav {
      .nav-list {
        display: flex;
        gap: 20px;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: #9c9c9c;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            padding-bottom: 6px;
            transition: 0.3s ease;

            &:hover {
              color: #ffffff;

              &::after {
                width: 100%;
              }
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -4px;
              width: 0%;
              height: 3px;
              background-color: $primary;
              transition: 0.3s ease;
              border-radius: 2px;
            }
          }

          &.active {
            a {
              color: #ffffff;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 3px;
                background-color: $primary;
                /* yellow */
                border-radius: 2px;
              }
            }
          }
        }
      }

      @media screen and (max-width:992px) {
        display: none;
      }
    }
  }

}

/* Hamburger Menu */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: $primary;
  border-radius: 2px;
}

/*------------------------- Header_end--------------------------------- */



/*------------------------- Hero-Section_end--------------------------------- */
.hero {
  // min-height: calc(100vh - 70px);
  // background: radial-gradient(circle at 20% 50%, #324a68, #0b1c2c 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e5e7eb;
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
  background: #161413;
  height: calc(100vh - 70px);
  max-height: 1000px;

  &::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: #7c3aed;
    opacity: 0.15;
    filter: blur(150px);
    left: -150px;
    top: 200px;
    border-radius: 50%;
  }

  .hero-content {
    // max-width: 900px;
    max-width: 1200px;
    z-index: 2;

    .profile-wrapper {
      margin-bottom: 20px;
      background: transparent;
      border-radius: 50%;

      .profile-img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.2);
        border: 5px solid #ffffff;
        box-shadow: 0px 0px 6px $primary;
      }
    }

    .badge {
      display: inline-block;
      padding: 8px 20px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.15);
      font-size: 14px;
      margin-bottom: 30px;
      //   backdrop-filter: blur(10px);
    }

    .hero-title {
      // font-size: 28px;
      line-height: 1.6;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .hero-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      .social-icons {
        display: flex;
        gap: 12px;

        a {
          width: 45px;
          height: 45px;
          border-radius: 14px;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.15);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #e5e7eb;
          transition: 0.3s ease;

          &:hover {
            border: 1px solid $primary;
            color: $text-primary;
            background-color: transparent;
          }
        }
      }
    }
  }
}


.btn {
  padding: 14px 28px;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

/* Primary button */


/* Social Icons */




.social-icons a:hover {
  background: rgba(255, 255, 255, 0.1);
}