@use "./variable" as *;

/* ===============================
   CONTAINER
================================= */



.projects-section {
    // padding: 70px 0;
    position: relative;

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .section-header {
            text-align: center;
            margin-bottom: 60px;

            h2 {
                font-size: 42px;
                color: $text-primary;
                margin-bottom: 10px;
            }

            p {
                color: $text-secondary;
                font-size: 16px;
            }
        }

        .projects-grid {
            @media (max-width: 992px) {
                grid-template-columns: 1fr !important;

                .project-card {
                    height: 450px;
                }
            }

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            background: transparent;
            max-height: 350px;
            overflow-y: auto;

            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;

            /* Hide scrollbar */
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .project-card {
                background: transparent;
                position: sticky;
                top: 0px;

                height: 350px;
                border-radius: 24px;
                overflow: hidden;
                background: $bg-light-dark;
                //   box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
                transition: transform 0.4s ease, box-shadow 0.4s ease;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    transition: transform 0.6s ease;

                    &:hover {

                            transform: scale(1.05);
                    }
                }



                .card-header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    padding: 20px 24px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    background: linear-gradient(to bottom,
                            rgba(0, 0, 0, 0.85),
                            rgba(0, 0, 0, 0.4),
                            transparent);

                    // backdrop-filter: blur(8px);

                    span {
                        color: $text-primary;
                        font-weight: 500;
                        font-size: 16px;
                    }

                    svg {
                        color: $primary;
                        font-size: 20px;
                        transition: transform 0.3s ease;
                    }

                    svg:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        .view-more {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        // &::after {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     width: 100%;
        //     height: 60px;
        //     pointer-events: none;
        //     z-index: 5;
        //     bottom: 0;
        //     background: linear-gradient(to top, $bg-dark, transparent);
        // }

        // &::before {

        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     width: 100%;
        //     height: 60px;
        //     pointer-events: none;
        //     z-index: 5;
        //     top: 0;
        //     background: linear-gradient(to bottom, $bg-dark, transparent);

        // }
    }
}

/* ===============================
   RESPONSIVE
================================= */