    /* Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Preahvihear', monospace, sans-serif;
    }

    body {
        font-family: 'Preahvihear', monospace, sans-serif;
    }

    /* ===============================
    HEADINGS
    ================================= */
    $primary: #facc15; // Accent Yellow
    $secondary: #7c3aed; // Soft Purple Glow
    $bg-dark: #0f172a; // Main Background
    $bg-light-dark: #1e293b; // Card Background
    $text-primary: #ffffff;
    $text-secondary: #e5e7eb;
    $text-muted: #94a3b8;
    $border-color: rgba(255, 255, 255, 0.1);
    $dark-grey: rgba(255, 255, 255, 0.05);


    h1 {
        font-size: 28px;
        margin-bottom: 16px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    h5 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    h6 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }


    // ----------------------------------button---------------------


    // .btn {
    //     padding: 12px 28px;
    //     border-radius: 12px;
    //     font-size: 15px;
    //     cursor: pointer;
    //     transition: 0.3s ease;
    //     border: none;
    //     font-weight: 500;
    // }

    // .btn.primary {
    //     background: $primary;
    //     color: #111827;
    // }
    .btn.primary {
        background: $primary;
        color: #111827;
        border: 1px solid $primary;
        // box-shadow: 0 0 0 rgba($primary, 0);
    }

    .btn.primary:hover {
        color: $text-primary;
        background-color: transparent;
        // box-shadow: 0 8px 25px rgba($primary, 0.35);
    }

    // .btn.primary:hover {
    //     transform: scale(1.05);
    // }

    /* Secondary button */
    .btn.secondary {
        background: $dark-grey;
        border: 1px solid $dark-grey;
        color: $text-secondary;
    }

    .btn.secondary:hover {
         border: 1px solid $primary;
          color: $text-primary;
        background-color: transparent;
    }

    // -------------------------------------------section--------------------------------
    .section {
        // min-height: calc(100vh - 70px);
        background: radial-gradient(circle at 20% 50%, #324a68, #0b1c2c 60%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $text-secondary;
        padding: 70px 20px;
        position: relative;
        overflow: hidden;
        background: #161413;
    }

    /* Subtle gradient glow */
    .section::before {
        content: "";
        position: absolute;
        width: 500px;
        height: 500px;
        background: #7c3aed;
        opacity: 0.15;
        filter: blur(150px);
        left: -150px;
        top: 200px;
        border-radius: 50%;
    }

    // ------------------------------------------label-----------------
    .label {
        color: $primary;
    }

    .highlight {
        color: $text-primary;
        font-weight: 600;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }